*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: initial;
}
.header-wrapper-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 1400px;
    max-height: 100px;
    margin: 0 auto;
    font-family: "playfair display";
}
.navigation-box{
    max-width: 600px;
    height: 100px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
li{
    color: #888888;
}
.icon-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 100px;
    font-size: 25px;
    color: #888888;
    margin-left: 150px;
}
.icon-image{
    scale: 0.8;
}
.page-1{
    max-height: 1100px;
    font-family: "playfair display";
}
.page-1-container{
  overflow-x: hidden;
    max-width: 1400px;
    max-height: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-1-box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 1400px;
    height: 350px;
    background-color: grey;
    color: white;
    gap: 20px;
}
.box-1-span-1{
    font-size: 60px;
    text-align: center;
}
.box-1-span-2{
    font-size: 25px;
    text-align: center;
    word-spacing: 15px;
}
.page-1-wrapper-2{
    max-width: 1400px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wrapper-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper-2-box{
    width: 670px;
    height: 340px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    gap: 20px;
}
#underline{
    scale: 2;
}
.content-section{
  margin-top:140px;
}
.background-color{
  background-color: #222222;
}
.background-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  margin-bottom:80px;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
}

.circle {
  width: 204px;
  height: 200px;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.shape1 {
  width: 87px;
  height: 63px;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.heart {
  width: 35px;
  height: 30px;
  z-index: 3;
  margin-top:10px;
  margin-left:18px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.caption1 {
  font-family: "Playfair Display", serif;
  font-size:88px;
  line-height: 104px;
  letter-spacing: -2.2px;
  color:#FFFFFF;
}


.text1 {
  font-family: "Montserrat", sans-serif;
  font-size:28px;
  line-height:48px;
  letter-spacing:0.7px;
  color:#888888;
  margin-top:10px;
}
.contact-button {
  text-align: center;
  font-weight:600;
  font-family: "Montserrat", sans-serif;
  font-size:24px;
  line-height:30px;
  letter-spacing: 2.4px;
  position: relative;
  width:350px;
  height:100px;
  margin-top:20px;
  background-color: #D69991;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.arrows{
  margin-top:-50px;
  margin-left:240px;
  transform: translate(-50%, -50%); 
}
.contact-button:hover {
  background-color: #B0776D;
}
.background-block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; 
}

.blocks {
  display: flex;
  justify-content: center;
  margin-top:200px;
}

.container-1 {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; 
  position: relative; 
}

.block {
  width: 300px; 
  height: 300px; 
  background-color: #AAAAAA;
}

.lowered {
  margin-top:25px;
  background-color: #BBBBBB;
}

.white-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color:#FFFFFF;
  top: 50%; 
  left: 45%; 
  width:200px;
  height:50px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size:22px;
  line-height:90px;
  color: #222222;
}
/*contact page styles*/
.contact-form{
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color:#FFFFFF;
}
input{
  padding-left: 10px;
  color: #AAAAAA;
}
.contact-me-box{
  height: 150px;
  font-size: 30px;
  color: rgb(194, 146, 154);
  padding-top: 10px;
}
.contact-me{
  margin-top: 10px;
  font-family: "playfair display";
}
.name-box{
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 450px;
}
.name{
  width: 200px;
  height: 50px;
  background-color: #222222;
}
.email-box{
  height: 60px;
  width: 450px;
}
.email{
  width: 450px;
  height: 50px;
  background-color: #222222;
}
.description-box{
  width: 450px;
  height: 150px;
}
.description{
  width: 450px;
  height: 140px;
  background-color: #222222;
}
.contact-arrow-box{
  height: 100px;
  justify-content: center;
  align-content:flex-end
}
.click{
  height: 40px;
  width: 200px;
  background-color: rgb(194, 146, 154);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*contact page footer*/
.footer-background{
  margin-top: 250px;
  background-color: rgb(26, 24, 24);
  display: flex;
  flex: 1 1 2;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
}
.contact-navigation{
  font-size: 30px;
  display: flex;
  flex-direction: column;
}
.contact-follow{
  display: flex;
  flex-direction: column;
}
.nav-footer{
  color: #FFFFFF;
  font-family: "playfair display";
  margin-bottom: 20px;
}
.follow{
  font-size: 30px;
  color: white;
}
.contact-icon-image{
  scale: 0.6;
  margin-left:-19px;
}
.contact-subscribe{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-email{
  background-color: #222222;
  height: 50px;
  width: 450px;
}
.grey-text{
  color: #AAAAAA;
  font-family: "Monsterrat";
}
.elly{
  height: 140px;
  background-color: rgb(26, 24, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h-line{
  height: 2px;
  width: 80%;
  background-color: #AAAAAA;
}
.elly-antya{
  margin-top: 10px;
  font-size: 25px;
  font-family: "Zapfino";
  color: #AAAAAA;
}
